html {
    font-family: Roboto, sans-serif;
    padding: 1rem;
    font-size: 20px;
}

body {
    max-width: 800px;
    margin: 0 auto;
    padding: 1rem;
}

h1 {
    margin-top: 0;
    margin-bottom: 1em;
}

.content {
    margin: 1em;
    padding: 1em;
    background: #eee;
    border-radius: 0.3em;
    box-shadow: 0.3em 0.3em 0.3em #ccc;
}
