<!doctype html>
<title>painless</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
<script type="text/javascript">
function send(event, payload) {
  var request = new XMLHttpRequest();
  request.open("POST", "/" + event);
  request.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
  request.send(JSON.stringify(payload));
}

function update(p) {
  send("update", {name: p.dataset.name, value: p.value});
}

function remove(p) {
  var name = p.dataset.name;
  document.getElementById(name).remove();
  send("remove", {name: name});
}
</script>
<section class="content">
  <h1>painless</h1>
  {% if parameters|length %}
    <table>
    {% for parameter in parameters %}
      <tr id="{{parameter.name}}">
        <td>
          {{parameter.name}}
        </td>
        <td>
          <input data-name="{{parameter.name}}" value="{{parameter.value}}" onchange="update(this)" onkeyup="update(this)" onmousedown="update(this)">
          <input type="button" data-name="{{parameter.name}}" onclick="remove(this)" value="❌">
        </td>
      </tr>
    {% endfor %}
  {% else %}
    No parameters found.
  {% endif %}
</section>
